/* This is a COMMENT */

/* Select element by TYPE */
p {
    color : rgb(190, 77, 255);
}
h1 {
    font-family : cursive ;
}

/* Select element by ID name */
#intro {
    background-color : lavender;
}

/* Select element by CLASS name */
.border {
    border : 2px solid black;
}